body {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.cadastro-form {
    display: inline-block;
    text-align: left;
}

.titulo-campo {
    color: red; /* Títulos em vermelho */
    display: block;
    margin: 10px 0;
}

.campo-obrigatorio {
    color: red;
}

input {
    margin: 10px;
    padding: 5px;
    border: 1px solid black; /* Borda preta por padrão */
}

input[type="email"] {
    border: 1px solid yellow; /* Borda amarela para campos de e-mail */
}

input:required:valid {
    border: 1px solid black; /* Borda preta quando o campo obrigatório é preenchido corretamente */
}

input:required:invalid {
    border: 1px solid red; /* Borda vermelha quando o campo obrigatório não é preenchido corretamente */
}

button {
    padding: 10px;
    background-color: #333; /* Cor de fundo do botão */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Cor diferente ao passar o mouse sobre o botão */
}